.App {
  color: #333;
  border: 1px solid #aaa;
  border-radius: 4px;
  background: white;
  margin: 2em;
  padding: 0 1em;
  min-height: 20em;
  width: 100%;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}
.App .todoList{
  width: 60%;
  margin-right: 20px;
}
.App  .todoList> li:nth-child(odd){
  background: #eee;
}
.App  .todoList> li:nth-child(even){
  background: transparent;
}
.App .showpanel{
  display: flex;
  flex-wrap: wrap
}
.App .createbutton{
  margin-right: 10px;
}
