.App {
  color: #333;
  border: 1px solid #aaa;
  border-radius: 4px;
  background: white;
  margin: 2em;
  padding: 0 1em;
  min-height: 20em;
  width: 50%;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}
.App .todoList{
  width: 60%;
  margin-right: 20px;
}

.App  .todoList  li
{ border-bottom: #ccc solid 0.4px;
  background: transparent;
}
.App .showpanel{
  display: flex;
  flex-wrap: wrap
}
.App .createbutton{
  margin-right: 10px;
}
.App>.topbar{
  height: 150px;
  position: relative;
  padding: 10px 0;

}
.App>.topbar .navbar{
  list-style: none;
  cursor:pointer;
  position: absolute;
  right: 120px;
  top: 45px;
  font-size: 15px;
}
.App>.topbar .navbar .child li{
  position: relative;
  display: block;  
  margin: 5px auto;
  padding: 15px 2px;
}
.App>.topbar .navbar .child li:hover{
  background: rgba(178,	175,	175, 0.1)
}
.App>.topbar h1{
  width: 100%;
  font-size: 30px;
  display: block;
}
.App>.topbar h2{
  font-size: 20px;
  display: block;
}
.App>.topbar .navbar .child{
  display: none;
  min-width: 140px;
  position: absolute;
  top: 100%;
  background: #fff;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.35);
  padding: 5px;
}
.App>.topbar .navbar:hover .child{
  display: block;
}
.App>.topbar .navbar .fas{
  margin: 0 5px;
}
.App>.topbar>.navbar .child li:last-child{
  border-top: #ccc solid 0.4px;
  color: red;
}
.createdtodoList{
  padding: 5px;
  font: 16px sans-serif;
  color: #0067b8;
  cursor: pointer;
}
.showlists .fas{
  font: 20px;
  margin-right: 15px;
}
.showlists .planlists li{
  font: 16px sans-serif;
  padding: 5px;
  cursor: pointer;
}
.showlists .planlists .fas{
  color: #0067b8;
}

